#slideshow {
    position:relative;
    height:390px;
	
}

#slideshow IMG {
	position:absolute;
	top:-2px;
	z-index:8;
	opacity:0.0;
	width: 742px;
	height:380px;
	padding:5px 80px 0px 95px;
	
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}